:root {
  --light-orange:#fda90c;
  --dark-orange: #c08008;
  --light-blue: #0895c0;
  --light-purple:#9d0cfd;
  --light-green:#74e709;
  --dark-green:#22aa07;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.group {
  content: "";
  display: table;
  clear: both;
}
body {
  background-color: #111;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  color:#fff;
  width: 700px;
  margin: 0 auto;
}

.app-wrap {
  width: 700px;
  margin: 0 auto;
  background-color: #111;
  padding: 2rem 0; 
}


/***************** TOP MENU BAR ***************/
.menu-items {
  display: flex;
  border-top: 1px solid rgba(148, 148, 148, 0.315);
  border-bottom: 1px solid rgba(148, 148, 148, 0.315);
  padding: 2rem 0;
  height: 100%;
  opacity: 0;
  animation: fadeUp .5s ease-in-out .1s forwards;
}

.menu-items li {
  margin-right: 3.5rem;
}

.links {
  color: #777;
  font-size: 4rem;
}

.links.active-link {
  color: rgb(18, 152, 214);
}

/***************** SLIDING TAB ICONS ***************/

/* tab-items is ul tab wrapper */
ul.tab-items {
  position: relative;
  display: flex;
  border-bottom: 4px solid rgba(148, 148, 148, 0.315);
  padding: 2rem 0;
  justify-content: space-between;
  padding: 2rem 6rem;
  opacity: 0;
  animation: drawHorizontalAndFadeUp .9s ease-in-out .3s forwards;
}

a.tab-items li {
  height: auto;
  width: auto;
  cursor: pointer;
}

/* ANCHORS INSIDE UL */
.tab-links {
  font-size: 5rem;
}

.tab-links.active-tab {
  color: rgb(18, 152, 214);
}

/* SHARED CLASS FOR ICONS */
.icon-tab {
  color: #777;
  opacity: 1;
  transform: scale(1);
  transition: all .3s ease;
}

.icon-tab-active {
  color: rgb(18, 152, 214);
}

.icon-tab:hover {
  transform: scale(1.01);
  color: rgb(18, 152, 214);
}

/* MOVING BLUE UNDERLINE TAB INDICATOR */
.span-move {
  width: 25%;
  height: 5px;
  background-color: rgb(18, 152, 214);
  position: absolute;
  top:99%;
  left: 0%;
  transition: left .4s ease-in-out;
}



/* ENTIRE WRAP FOR STAT SLIDES */
.content-stats-container {
  width: 700px; 
  height:35rem;
}

/* SECONDARY WRAP FOR STAT SLIDES */
.stats-track {
  position: relative;
  overflow: hidden;
  height: 400px;
}

/* SLIDING DIV FOR ALL HORIZONTALLY STACKED SLIDES */
.mover {
  transition: all .4s ease-in-out;
  transform: translateX(0);
}


.stats {
  transform: translateY(-40px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


.stats-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px; 
  height: 400px;
  opacity: 0;
  animation: fadeUp .5s ease-in-out .5s forwards;
}

.stats-2 {
  position: absolute;
  top: 0;
  left: 700px;
  width: 700px; 
  height: 400px;
  opacity: 0;
}

.stats-3 {
  position: absolute;
  top: 0;
  left: 1400px;
  width: 700px; 
  height: 400px;
}

.stats-4 {
  position: absolute;
  top: 0;
  left: 2100px;
  width: 700px; 
  height: 400px;
}


/* SLIDE 2 */
.stats-2-container {
  display: flex;
  flex-direction: column;
  color:#fff;
  width: 100%;
  height: inherit;
  transform: translateY(52px);
}


.stats-2-days {
  font-size: 13px;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 3px;
}

.bar {
  margin-bottom: 5px;
  height: 28px;
  background: linear-gradient(.10turn, var(--dark-orange), 10%, var(--dark-orange),  yellow);
  animation: hueRotate 20s ease 1s infinite;
}

.bar-percent {
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  font-size: 22px;
  line-height: 1.4;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity .9s ease 1s;
}

.sun-bar,
.mon-bar,
.tue-bar,
.wed-bar,
.thur-bar,
.fri-bar,
.sat-bar {
  width: 0%;
  transition: width 1s ease-in-out .5s;
}



/* CIRCLES GENERAL */
.circle-middle-container {
  z-index: 1;
}

.circle-text {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.circle-text h1 {
  opacity: 0;
  filter: blur(20px);
  font-size: 5rem;
  animation: fadeUp 1s ease-in-out 1s forwards;
}

.circle-text p {
  opacity: 0;
  filter: blur(20px);
  font-size: 2.5rem;
  color:#555;
  animation: fadeUp 1s ease-in-out 1s forwards;
}


/* CIRCLES */
.circle-middle {
  width: 240px;
  height: 240px;
  background-color: #222;
  border-radius: 100%;
}


.circle-middle:before {
  content: '';
  width: 250px;
  height: 250px;
  background: linear-gradient(#c08008, #fda90c);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 100%;
  animation: circleMiddleBefore 2s ease-in-out .5s;
  transition: all 1s ease-in-out;
  animation: hueRotate 7s ease 1s infinite;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes circleMiddleBefore {
  0% {
    opacity: 0;
    transform: translate(-50%, -20%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.circle-middle:after {
  content: '';
  width: 262px;
  height: 262px;
  background: linear-gradient(#3b3b3b, #3b3b3b);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border-radius: 100%;
  animation: circleMiddleAfter 2s ease-in-out .5s;
  transition: all 1s ease-in-out;
}



.circle-left {
  position: absolute;
  top:130px;
  left:12px;
  width: 240px;
  height: 240px;
  background-color: #222;
  border-radius: 100%;
}

.circle-left:before {
  content: '';
  width: 250px;
  height: 250px;
  background: linear-gradient(#0895c0, #9d0cfd);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 100%;
  animation: circleMiddleBefore 2s ease-in-out .5s;
  transition: all 1s ease-in-out;
  animation: hueRotate 7s ease 1s infinite;
}

.circle-left:after {
  content: '';
  width: 262px;
  height: 262px;
  background: linear-gradient(#3b3b3b, #3b3b3b);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border-radius: 100%;
  animation: circleMiddleAfter 2s ease-in-out .5s;
  transition: all 1s ease-in-out;
}

.circle-right {
  position: absolute;
  top:130px;
  left:448px;
  width: 240px;
  height: 240px;
  background-color: #222;
  border-radius: 100%;

}

.circle-right:before {
  content: '';
  width: 250px;
  height: 250px;
  background: linear-gradient(#22aa07, #74e709);
  /* background: linear-gradient(#22aa07, #09e7d5); */
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 100%;
  animation: circleMiddleBefore 2s ease-in-out .5s;
  transition: all 1s ease-in-out;
  animation: hueRotate 7s ease 1s infinite;
}

.circle-right:after {
  content: '';
  width: 262px;
  height: 262px;
  background: linear-gradient(#3b3b3b, #3b3b3b);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border-radius: 100%;
  animation: circleMiddleAfter 2s ease-in-out .5s;
  transition: all 1s ease-in-out;
}



.stat-output-container-1,
.stat-output-container-2,
.stat-output-container-3 {
  border-top: 4px solid rgba(148, 148, 148, 0.315);
  font-family: 'Montserrat', sans-serif;
  width: 0%;
  animation: drawHorizontal .5s ease-in-out .2s forwards;
}

.stat-output-container-1 {
  z-index: 0;
  visibility: visible;
  opacity: 1;
  transition: all .3s ease;
}

.stat-output-container-1-toggle {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease; 
}

.stat-output-container-2 {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.stat-output-container-2-toggle {
  visibility: visible;
  opacity: 1;
  z-index: 0;
  transition: all .3s ease; 
}
.stat-output-container-3 {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}


.stat-output-1,
.stat-output-2,
.stat-output-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 14rem;
}

.stat-tag {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .7s ease .5s;
}

.stat-tag-show {
  z-index: 1;
  visibility: visible;
  opacity: 1; 
}

.low-tag, .high-tag  {
  position: absolute;

}
.high-tag {
  background: #1dbd08;
  padding: 2px  15px;
  transform: translateY(-3px);
}
.low-tag {
  left:50%;
  background: #bd4108;
  padding: 2px  15px;
  transform: translateY(-3px);
}

.stat-output-1:before,
.stat-output-2:before {
  content: '';
  width: 5px;
  height: 0rem;
  position: relative;
  background: #333;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  animation: drawLine .2s ease-in-out 1s forwards;
}


.stat-output {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}

.stat-output h1 {
  font-size: 5.5rem;
  margin-bottom: .5rem;
  letter-spacing: 8px;
  font-variant-numeric:tabular-nums!important; 
  text-align: left;
  transform: translateX(29%);
}

.stat-output p {
  font-size: 2.5rem;
  color:#555;
  letter-spacing: 4px;
  text-align: center;
}

.stat-output-left {
  opacity: 0;
  filter: blur(20px);
  animation: fadeUp .5s ease-in-out 1s forwards;
}

.stat-output-right {
  opacity: 0;
  animation: fadeUp .5s ease-in-out 1.5s forwards;
}

/* h1.tab-nums {
  font-variant-numeric:tabular-nums!important; 
} */

.weekly {
  font-size: 1.5rem;
  padding: 10px;
  text-align: left;
  width: 0;
  display: none;
}

.weekly-high {
  background: rgb(72, 155, 107);
  opacity: 0;
  width: 0;
  transition: all .5s ease 1s;
}
.weekly-low {
  background: rgb(155, 72, 79); 
  opacity: 0;
  width: 0;
  transition: all .5s ease 1s;
}

.tac-show {
  opacity: 1;
  visibility: visible; 
}



.stats-3-container {
 display: flex;
 justify-content: center;

 
}
.stats-3-left {
  order: 1;
  background: var(--light-orange);
  height: 100%;
  padding: 100% 0;
}

.stats-3-right {
  /* background: var(--light-green); */
  background: linear-gradient( rgba(0,0,0, 1), 20%, rgba(0,0,0, .7)) ,url('img/andrea-leopardi-QVD3Xht9txA-unsplash.jpg') center no-repeat;
  height: 100%;
  padding: 50% 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.stats-3-right h1 {
  font-size: 4rem;
  background: #077caac2;
  margin-top: -80px;
  padding: 1rem;
  width: 40%;
  height: 70px;
}

.stats-3-right p {
  font-size: 1.9rem;
  background: rgba(41, 39, 32, 0.808);
  padding: 1rem;
  opacity: 0;
  transition: opacity 1s ease 1.6s;
}

.fml {
  position: absolute;
  bottom: 0;
  padding: 1.5rem 2rem;
  background: linear-gradient(rgb(8, 151, 218), 20%, rgb(3, 101, 146));
  color:#fff;
  border: none;
}

.vertical-bar-container {
  width: 100%;
  position: absolute;
  bottom: 1px;
  padding: 0 1rem;
  transform: rotate(180deg);
}

.vertical-bar {
  height: '0';
  width: 3%;
  float: left;
  margin: 3px;
  border-radius: 10px 10px 0 0; 
  transition: all .6s cubic-bezier(0.55, 0.21, 0.58, 1);
  background: linear-gradient(rgb(8, 151, 218), 20%, rgb(3, 101, 146));
  /* transform-origin: bottom; */
  transform: rotate(180deg);
  cursor: pointer;
  animation: hueRotate 10s ease 1s infinite;
}
.vertical-bar:hover {
  opacity: .5;
}

.sort-vertical-bars {
  transform: translateY(-140px);
  padding: .5rem 2rem;
  background: rgb(8, 151, 218);
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  display: none;
  outline: none;
}

.sort-vertical-bars:hover {
  background: rgb(9, 167, 240);
}

.slide-4-content {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  width: 100%;
}

.empty {
  width: 100%;
  height: 1px;
  opacity: 0;
}

@keyframes circleMiddleAfter {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


@keyframes drawHorizontal {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes drawHorizontalAndFadeUp {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fadeUp {
  0% {

    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes drawLine {
  0% {
    height: 0rem;
  }
  100% {
    height: 14rem;
  }
}